* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
    margin: 0;
    background: url('https://www.thoughtco.com/thmb/Rz_mQ5irKGAk8HFc6g5T5PxA9rQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/arches-national-park-astronomy-cosmos-33688-d67c5551c2324cb696315faa478aa71d.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.intro{

background: #909ebd75;
color: #ffffff;
}
.intro h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
}

.intro a{
    font-size: 1.5em;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: #2b1055;
    font-size: 1.5em;
    position:absolute;
    bottom: 20px;
}
.section1{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     position: relative;
}

.section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background:url('https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc.jpg'); */
    /* background-size: cover; */
    color: #ffffff;
    
     /* position: relative; */
}
.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}
 .content1{
    max-width: 800px;
    padding: 40px;
    text-align: center;
}

.content1 p{
    font-size: 2em;
    background: #0c0c0c5c;
    color: #f4f0f0;
}


.info-box {
    font-size: 1em;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ecebec;
    padding: 20px 20px 60px; 
    width: 100vw; 
    max-width: 600px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.close-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    cursor: pointer;
    background-color: #ee4040;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.timelineintro{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfcbd592;
    width: auto ;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #ecebec25; */
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgba(252, 252, 252, 0.44);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}


.container {
    padding: 10px 40px;
    position: relative;
    /* background-color: inherit; */
    width: 50%;
}


.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgba(255, 255, 255, 0.568);
    border: 4px solid #ecebec8d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}


.right {
    left: 50%;
}


.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}


.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.right::after {
    left: -16px;
}


.content {
    position: relative;
    border-radius: 6px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    padding: 20px 30px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(214, 202, 218) 0%, rgba(249, 249, 249, 0.689) 90%);
    color: #050505;
}

.content.visible {
    opacity: 1;
    transform: translateX(0);
}

button {
    background-image: linear-gradient(to right, #3c4949 0%, #484465 51%, #5c3e62 100%);
    flex: 1 1 auto;
  margin: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
    background-position: right center;
  }

.info-box p {
    margin-bottom: 10px; 
}

/* Style for the content inside the info box */
#infoContent {
    max-width: 400px;
    margin: 0 auto;
}

.textContainer{
    /* background-color: #afef56; */
    margin: 50vh auto;
    padding: 5rem;
    width: 70%;
    /* border: 4px solid grey;
    box-shadow: 1px 1px 8px 5px gray; */
    font-size: 1.3rem;
    margin-bottom: 100px;
    color: #040404;
}

.sources {
    background-color: #f0f0f0; 
    /* padding: 5rem 0; */
    width: 100%;
  }
  
  .sources .textContainer {
    width: 70%;
    margin: 0 auto;
  }
  
  .sources h2 {
    font-size: 2rem;
    color: #333; 
  }
  
  .sources ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sources li {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #555; 
  }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
   
    .timeline::after {
        left: 31px;
    }

   
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}