*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:sans-serif ;  
scroll-behavior: smooth;

}


.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    
}

.container section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fffee1;
     /* position: relative; */
}

 .timeline-line {
    position:absolute;
    top: 10%;
    left: 1;
    width: 500vw;
    height: 10px;
    background-color: #0d1716; /* Color of the timeline line */
    z-index: 1; /* Ensure the line is above the content */
} 

.timeline-line li{
    
        list-style-type: none;
        position: relative;
        cursor: pointer;
        
        &:after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #0d1716;
          border: 2px solid #111616;
          transition: background-color .2s ease;
        }
      
}

span {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    text-align: center;
    text-align: center;
    width: 100px;
  }

.container section:nth-child(2)
{
    background: #3febee;
}
.container section:nth-child(3)
{
    background: #d74cea;
}
.container section:nth-child(4)
{
    background: #f37937;
}
.container section:nth-child(5)
{
    background: #f3f337;
}

.container section .content{
    max-width: 800px;
    padding: 40px;
    text-align: center;
}
.container section .content h2{
    font-size: 4em;
    color: #111;
}
.container section .content p {

    font-size: 1.3em;
    line-height: 1.4em;
    color: #111;
}



@media (max-width :991px){

    

     .container{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        /* width: 400px; */
        transform:none;

     }
     .timeline-line {
        position:absolute;
        top: 10%;
        left: 1;
        width: 500vw;
        height: 10px;
        background-color: #0d1716; /* Color of the timeline line */
        z-index: 1; /* Ensure the line is above the content */
    } 
     
}


