*{
    margin: 0;
    padding: 0;
}

html{
scroll-behavior: smooth;
}

body{
    margin: 0;
}

header{
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    
    background-image: url('https://s.yimg.com/ny/api/res/1.2/dkkyYCPohg7x30xL2tZRtA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTI0MDA7aD0xMzUwO2NmPXdlYnA-/https://s.yimg.com/os/creatr-uploaded-images/2023-07/933a6a50-1ced-11ee-add1-66196811ffe6');
}
/* kilde til bilde : https://s.yimg.com/ny/api/res/1.2/dkkyYCPohg7x30xL2tZRtA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTI0MDA7aD0xMzUwO2NmPXdlYnA-/https://s.yimg.com/os/creatr-uploaded-images/2023-07/933a6a50-1ced-11ee-add1-66196811ffe6 */
/*
kilder:
https://scitechdaily.com/global-temperature-reconstruction-over-last-24000-years-show-todays-warming-unprecedented/
*/
header h1{
    color: #000;
    font-size: 2rem;
    background-color: #c5f87e;
}

.container{
    width: 100%;
    align-items: center;
    margin-top: 50px;

}

.textContainer{
    background-color: #afef56;
    margin: 50vh auto;
    padding: 4rem;
    width: 50%;
    border: 4px solid grey;
    box-shadow: 1px 1px 8px 5px gray;
    font-size: 1.3rem;
    margin-bottom: 100px;
    color: #fff;
}


#img{
    background-image: url('https://images.ctfassets.net/4f3rgqwzdznj/471UIumx1PDmewqVwjZOyo/0b32f07fac0e110ad1987d6834713754/cannabis_leaf_and_pills_1199045166.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#start{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#start img{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #afef56;
    border-radius: 5rem;
}